#nav{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,9,121,1) 0%, rgba(50,203,218,1) 0%, rgba(242,27,183,1) 100%);
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  width: 110px;
  height: 35px;
}
.nav-link{
  font-weight: 600;
}
.bi-list{
  font-size: 35px;
}